:root {
  --black: #151515;
  --green: #4EE1A0;
  --dark-grey: #242424;
  --grey: #D9D9D9;
  --white: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100%;
  line-height: 1.5;
  font-family: Space Grotesk, sans-serif;
  background-color: var(--black);
}

header, main {
  padding: 1rem;
}

.nav {
  text-align: center;
  position: relative;
  z-index: 0;
  
  a {
    text-decoration: none;
    color: var(--white);
    font-size: 1.4rem;
  }

  ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 1.2rem;
    gap: 1.5rem;
  }
}

.portada {
  text-align: center;
  
  picture {
    display: flex;
    justify-content: center;
    margin-top: -7rem;
    position: relative;
    z-index: -1;
    margin-bottom: 2rem;
  }

  h1 {
    font-size: 2.5rem;
    color: var(--white);
    margin-bottom: 1.2rem;

    span {
      border-bottom: 4px solid var(--green);
    }
  }

  p {
    color: var(--grey);
    margin-bottom: 1.5rem;
  }

  a {
    text-decoration: none;
    color: var(--white);
    font-size: 1.2rem;
    border-bottom: 2px solid var(--green);
  }

  a:hover {
    color: var(--green);
  }
}

hr {
  border: none;          
  height: 1.2px;            
  background-color: var(--grey); 
  margin-top: 3rem;
}

.info {
  margin-top: 3rem;
  text-align: center;

  h2 {
    color: var(--white);
    font-size: 2rem;
  }

  p {
    color: var(--grey);
  }

  div {
    margin-bottom: 1.2rem;
  }
}

.hero {
  .title {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.5rem;

    h2 {
      color: var(--white);
      font-size: 2rem;
    }

    a {
      text-decoration: none;
      color: var(--white);
      border-bottom: 2px solid var(--green);
    }

    a:hover {
      color: var(--green);
    }
  }
  
  .projects {
    img {
      width: 100%;
    }

    h4 {
      color: var(--white);
      font-size: 1.5rem;
    }

    div div {
      display: flex;
      gap: 2rem;
      color: var(--grey);
      margin-bottom: 2rem;
      font-size: 1.3rem;
      
      a {
        text-decoration: none;
        color: var(--white);
        font-size: 1.3rem;
        border-bottom: 2px solid var(--green);
      }

      a:hover {
        color: var(--green);
      }
    }
  }
}

.footer {
  margin-top: 2rem;
  background-color: var(--dark-grey);
  width: 100%;
  padding: 1rem;

  .contact {
    text-align: center;
    
    h3 {
      color: var(--white);
      font-size: 2.8rem;
      margin-top: 1.5rem;
    }

    p {
      color: var(--grey);
      margin-top: 0.5rem;
      margin-bottom: 2.2rem;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin-bottom: 5rem;
    input {
      background-color: var(--dark-grey);
      border: none;
      border-bottom: 1px solid var(--grey);
      padding: 1.8rem;
    }

    input:focus {
      outline: none;
      border-color: var(--green);
    }

    input:invalid {
      border-color: red;
    }
    
    #message {
      height: 8rem;
      padding-top: 0;
    }
  }

  .btn {
    display: flex;
    justify-content: end;
    
    a {
      text-decoration: none;
      color: var(--white);
      font-size: 1.2rem;
      margin-top: -3rem;
      margin-bottom: 2rem;
      border-bottom: 2px solid var(--green);
    }

    a:hover {
      color: var(--green);
    }
  }

  .bottom {
    padding: 2.5rem;
  }
}

@media (min-width: 768px) {
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 1rem;
    margin-right: 1rem;

    a {
      font-size: 1.8rem;
    }
  }

  .portada {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "text image"; 
    align-items: center;
    width: 100%;
    
    picture {
      display: flex;
      justify-content: end;
      margin-right: -1rem;
      grid-area: image;
    }

    div {
      grid-area: text;
      align-content: center;

      h1 {
        font-size: 3.7rem;
        text-align: left;
        line-height: 4.5rem;
        margin-bottom: 4rem;
      }

      p {
        text-align: left;
        font-size: 1.2rem;
        margin-bottom: 2rem;
      }

      a {
        display: flex;
        justify-content: start;
        font-size: 1.5rem;
        width: 39%;
        border-bottom: none;
      }
    }
  }

  main {
    hr {
      margin-top: -0.2rem;
    }

    .info {
      display: grid;
      grid-template-columns: 1fr 1fr;
      row-gap: 3rem;
      text-align: left;
      margin-bottom: 5rem;

      h2 {
        font-size: 2.8rem;
      }

      p {
        font-size: 1.2rem;
      }
    }
  }

  .hero {
    hr {
      display: none;
    }

    .title {
      h2 {
        font-size: 3.5rem;
      }

      a {
        font-size: 1.2rem;
      }
    }

    .projects {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1.5rem;
    }
  }

  .footer {
    .margin {
      margin-left: 10rem;
      margin-right: 10rem;

      h3 {
        font-size: 4rem;
      }

      p {
        font-size: 1.2rem;
      }
    }

    .bottom {
      padding: 0;
      margin-top: 0.5rem;
    }
  }
}

@media (min-width: 1440px) {
  .nav {
    margin: 0 6rem;
  }

  .portada {
    margin: 0 6rem;

    picture {
      margin-right: 12rem;
    }

    div {
      h1 {
        width: 108%;
        margin-bottom: 3rem;
        font-size: 4.8rem;
        margin-right: 35rem;
      }

      p {
        font-size: 1.3rem;
      }
      
      a {
        border-bottom: none;
      }
    }
  }

  .info {
    margin: 0 6rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "html css js"
    "acc react sass";
    gap: 2.5rem;
    margin-top: 2rem;
  }

  .hero {
    margin: 0 6rem;
  }

  .projects {
    .div-img {
      position: relative;
      overflow: hidden;
    }

    .view {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
      opacity: 0;
    }
  }

  .div-img:hover .view {
    opacity: 1;
  }

  .margin {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "content form"
    "content btn";
    gap: 10rem;
    margin-top: 3rem;
    margin-bottom: -5rem;

    .contact {
      text-align: left;
      width: 110%;
    }

    .btn {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      grid-area: btn;
      margin-top: -8rem;
    }
  }

  .bottom {
    margin: 0 6rem;
  }
}