:root {
    --black: #151515;
    --green: #4EE1A0;
    --dark-grey: #242424;
    --grey: #D9D9D9;
    --white: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--black);
}