:root {
  --black: #151515;
  --green: #4EE1A0;
  --dark-grey: #242424;
  --grey: #D9D9D9;
  --white: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100%;
  line-height: 1.5;
  font-family: Space Grotesk, sans-serif;
  background-color: var(--black);
}

header, main {
  padding: 1rem;
}

.nav {
  text-align: center;
  position: relative;
  z-index: 0;
  
  a {
    text-decoration: none;
    color: var(--white);
    font-size: 1.4rem;
  }

  ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 1.2rem;
    gap: 1.5rem;
  }
}

.portada {
  text-align: center;
  
  picture {
    display: flex;
    justify-content: center;
    margin-top: -7rem;
    position: relative;
    z-index: -1;
    margin-bottom: 2rem;
  }

  h1 {
    font-size: 2.5rem;
    color: var(--white);
    margin-bottom: 1.2rem;
  }

  p {
    color: var(--grey);
    margin-bottom: 1.5rem;
  }

  a {
    text-decoration: none;
    color: var(--white);
    font-size: 1.2rem;
  }
}

hr {
  border: none;          
  height: 1.2px;            
  background-color: var(--grey); 
  margin-top: 3rem;
}

.info {
  margin-top: 3rem;
  text-align: center;

  h2 {
    color: var(--white);
    font-size: 2rem;
  }

  p {
    color: var(--grey);
  }

  div {
    margin-bottom: 1.2rem;
  }
}

.hero {
  
  .title {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.5rem;

    h2 {
      color: var(--white);
      font-size: 2rem;
    }

    a {
      text-decoration: none;
      color: var(--white);
    }
  }
  
  .proyects {
    h4 {
      color: var(--white);
      font-size: 1.5rem;
    }

    div div {
      display: flex;
      gap: 2rem;
      color: var(--grey);
      margin-bottom: 1.2rem;
      font-size: 1.3rem;
      
      a {
        text-decoration: none;
        color: var(--white);
        font-size: 1.3rem;
      }
    }
  }
}

.footer {
  margin-top: 2rem;
  background-color: var(--dark-grey);
  width: 100%;
  padding: 1rem;

  .contact {
    text-align: center;
    
    h3 {
      color: var(--white);
      font-size: 2.8rem;
      margin-top: 1.5rem;
    }

    p {
      color: var(--grey);
      margin-top: 0.5rem;
      margin-bottom: 2.2rem;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    input {
      background-color: var(--dark-grey);
      border: none;
    }
  }
}
